body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    background-color: white;
    margin: 0 2em;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.left {
    flex: 1.5;
}

.center {
    flex: 2;
    justify-self: center;
}

.center input {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border-style: none;
    border: 1px #d3d3d3 solid;
}

.center button {
    margin: 0;
    margin-left: -0.5em;
    padding: 0 0.5em;
    border-radius: 0;
    color: #9b9b9b;
    border-style: none;
    border: 1px #d3d3d3 solid;
}

.right {
    display: flex;
    flex: 1.5;
    justify-content: space-between;
}

.icons {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
}

.child {
    position: absolute;
    left: 0;
    top: 0;
}

.icons:nth-child(2) {
    color: white;
}

.main-container {
    background-color: white;
    padding: 1em;
}

.details {
    padding-top: 0;
    padding-bottom: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.title p {
    margin-top: 0;
    margin-bottom: 0;
    color: black !important;
    font-weight: 700;
}

.details p, .channel p {
    margin-top: 0;
    margin-bottom: 0;
    color: #9b9b9b;
}

.views {
    background-color: white;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#num_views {
    justify-self: start;
    flex: 1;
}

.likes_shares {
    display: flex;
    align-items: center;
    justify-self: end;
    justify-content: space-around;
    flex: 2;
}

.likes_shares:nth-child(1) {
    border-bottom: 2px #d3d3d3 solid !important;
}

.channel {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-top: 1px #d3d3d3 solid;
    border-bottom: 1px #d3d3d3 solid;
    padding: 1em;
}

.channel button {
    justify-self: end;
    justify-content: space-around;
    margin-right: 0.25em;
    background-color: red;
    color: white;
    border-radius: 0.5em;
    text-transform: uppercase;
    border-color: red;
    padding: 0.5em;
    font-weight: 700;
}

.channel-details {
    background-color: white;
    display: flex;
    align-items: center;
}

img {
    margin-right: 0.5em;
    align-self: center;
    border-radius: 50%;
    height: 54px;
    width: 54px;
}

.channel-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.channel-info p:nth-child(1){
    color: black !important;
    font-weight: 700;
}
