body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: white;
}

.main-container {
    background-color: white;
}

.details {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.details h1, .details p, .channel p {
    margin-top: 0;
    margin-bottom: 0;
    color: #9b9b9b;
}

.views {
    background-color: white;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#num_views {
    justify-self: start;
    flex: 1;
}

.likes_shares {
    display: flex;
    align-items: center;
    justify-self: end;
    justify-content: space-around;
    flex: 2;
}

.channel {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.channel button {
    justify-self: end;
    justify-content: space-around;
    margin-right: 0.25em;
    background-color: red;
    color: white;
    border-radius: 0.5em;
    text-transform: uppercase;
    border-color: red;
    padding: 0.5em
}

.channel-details {
    background-color: white;
    display: flex;
}
